<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <center><form name="quiz" id="Quiz" onsubmit="send();">
        <h1 class="tittle">Adicionar usurio</h1>

        <div class="input-wrapper">
          <label for="name">Nome<br /></label>
          <input type="text" name="name" id="Name" />
        </div>

        <div class="input-wrapper">
          <label for="email">Email<br /></label>
          <input type="email" name="email" id="Email" />
        </div>

        

        <h3 class="subtittle">Cadastro</h3>
        <p>Quer se cadastrar??</p>

        <div class="inputs-wrapper">
          <div class="input-wrapper">
            <label for="yes">Sim</label>
            <input type="radio" name="response" id="ResponseYes" />
          </div>

          <div class="input-wrapper">
            <label for="yes">Não</label>
            <input type="radio" name="response" id="ResponseNo" />
          </div>
        </div>
        <button
          class="buttonSubmit"
          name="buttonSubmit"
          type="submit"
          form="Quiz"
        >
          Enivar
        </button>
        <button class="buttonReset" name="buttonReset" type="reset" form="Quiz">
          Limpar
        </button>
      </form></center>
</html>
