img {
  padding: 50px;
  width: 500px;
  height: 600px;
  align-content: center;
}
body {
  background-color: rgb(107, 111, 111);
  text-align: center;
}
h1 {
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
