<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Boas vindas</title>
    <style>
      * {
        /* Zerando tudo*/
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif, sans-serif;
        font-weight: 300;

        background-image: linear-gradient(#647e8d, #131313);
        color: #d9d9d9;
      }

      li,
      h4 {
        margin-left: 150px;
        font-size: x-large;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>Página <strong>home</strong> aula Node</h1>
      <p>🎉Bem vindo a pagina do curso de PWEB FATEC - Sorocaba 🎉</p>
    </center>
    <div>
      <ul>
        <center>
          <h2>ROTAS</h2>
          <br />
        </center>
        <h4>Exemplo: http://localhost:3000/Atividade10</h4>
        <br />
        <li>/cursos</li>
        <li>/professores</li>
        <li>/Atividade5</li>
        <li>/Atividade6/media</li>
        <li>/Atividade6/oparacoes</li>
        <li>/Atividade7</li>
        <li>/Atividade8</li>
        <li>/Atividade9</li>
        <li>/Atividade10</li>
        <li>/Atividade11/ContaBancaria</li>
        <li>/Atividade11/Retangulo</li>
        <li>/Atividade12</li>
        <li>/Atividade13</li>
        <li>/Atividade14</li>
        <li>/Atividade15</li>
      </ul>
    </div>
  </body>
</html>
