<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>G.News</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <img class="logo" src="img/newslogo.jpg" />
    <div class="topo">
        <div class="topotext"><h1>G.News</h1></div> 
      
    </div>
    
    <div class="container-box">
      <div class="box Home"><a href="#" target="_top">Home</a></div>

      <div class="box dinheiro">
        <a href="https://www.infomoney.com.br/ultimas-noticias/" target="_blank"
          >Dinheiro</a
        >
      </div>

      <div class="box politica">
        <a href="https://www.poder360.com.br/" target="_blank">Politica</a>
      </div>

      <div class="box sorocaba">
        <a href="https://sorocabanices.com.br/" target="_blank">Sorocaba</a>
      </div>
    </div>
    <div class="container">
    <section class="destaques">
      <h2>Destaques</h2>
      <ul>
        <li>
          <h3>Novas Tecnologias vs Ética</h3>
          <p>
            O avanço da transformação digital nas empresas e as crescentes
            preocupações com questões morais no ambiente corporativo levanta uma
            questão importante: a ética tecnológica é o limite para a evolução
            digital? É inegável que o uso de novas tecnologias trouxe muitos
            benefícios para a sociedade, mas seus efeitos impactam profundamente
            as relações humanas, inclusive no ambiente profissional. Após a
            crise pandêmica, muitas pessoas estão reformulando seus propósitos
            de carreira e o futuro do trabalho tem ganhado outras expectativas,
            com os profissionais mais conscientes a respeito das suas posições
            dentro das empresas.
            
          </p>
          <img class="imgdestaques"src="img/newslogo.jpg">
          <br>
        </li>
        <h3>IoT </h3>
        <p>
            <b>Internet Industrial das Coisas (IIoT)</b>
            A Internet Industrial das Coisas (IIoT) é conhecida como uma evolução das informações da cadeia produtiva. O conceito é basicamente o mesmo da IoT, porém com o detalhe de que suas informações são conectadas via cloud computing.
            
            Ademais, além de conectar coisas IIoT, forma uma camada crítica do processo produtivo, podendo ser utilizada para gerenciar ativos, analisar tendências, contactar diretamente um fornecedor, analisar a qualidade e o uso dos produtos.
            
            Enfim, é um sistema muito mais completo e especializado para atender às peculiaridades de uma indústria.<a href="https://it-eam.com/iot-industria-4-0/">Leia mais</a>
        </p>
      </li>
      </ul>
    </section>
    <section class="ultimas">
        <h2>Ultimas Noticias</h2>
        <ul>
          <li>
            <h3>Palmeiras é alvo de críticas</h3>
            <p>
                O comentarista da CNN Marco Antonio Villa argumentou nesta sexta-feira (24) que o Palmeiras nunca conquistou um título de Campeonato Mundial de Clubes — reiterando afirmação do ministro do Supremo Tribunal Federal (STF) Alexandre de Moraes, registrada na véspera em sessão da Corte.

                “Sinceramente, Campeonato Mundial de 51, eu sei que tem os jornais [da época], mas não foi. Isso começou a posteriori, no final dos anos 50. Aí depois vem o primeiro campeão mundial brasileiro, que é o Santos, em 1962. E em 1963 foi bicampeão”, disse.
                
                O historiador fez referência à Copa Rio de 1951. O campeonato foi vencido pelo Palmeiras, que defende a conquista como um título mundial. O clube chegou a estampar uma estrela em seu escudo em referência à vitória no torneio.
                <a href="https://www.cnnbrasil.com.br/esportes/o-palmeiras-nao-tem-mundial-como-diz-alexandre-de-moraes-marco-antonio-villa-responde/#:~:text=O%20ministro%20do%20Alexandre%20de,sess%C3%A3o%20do%20Supremo%20Tribunal%20Federal.">leia mais...</a>
               
            </p> <img class="imgultimas" src="img/newslogo.jpg">
          </li><br>
          <h3>IoT </h3>
          <p>
              <b>Internet Industrial das Coisas (IIoT)</b>
              A Internet Industrial das Coisas (IIoT) é conhecida como uma evolução das informações da cadeia produtiva. O conceito é basicamente o mesmo da IoT, porém com o detalhe de que suas informações são conectadas via cloud computing.
              
              Ademais, além de conectar coisas IIoT, forma uma camada crítica do processo produtivo, podendo ser utilizada para gerenciar ativos, analisar tendências, contactar diretamente um fornecedor, analisar a qualidade e o uso dos produtos.
              
              Enfim, é um sistema muito mais completo e especializado para atender às peculiaridades de uma indústria.
          </p>
        </li>
        </ul><br>
        <ul>
            
              <h3>Palmeiras é alvo de críticas</h3>
              <p>
                  O comentarista da CNN Marco Antonio Villa argumentou nesta sexta-feira (24) que o Palmeiras nunca conquistou um título de Campeonato Mundial de Clubes — reiterando afirmação do ministro do Supremo Tribunal Federal (STF) Alexandre de Moraes, registrada na véspera em sessão da Corte.
  
                  “Sinceramente, Campeonato Mundial de 51, eu sei que tem os jornais [da época], mas não foi. Isso começou a posteriori, no final dos anos 50. Aí depois vem o primeiro campeão mundial brasileiro, que é o Santos, em 1962. E em 1963 foi bicampeão”, disse.
                  
                  O historiador fez referência à Copa Rio de 1951. O campeonato foi vencido pelo Palmeiras, que defende a conquista como um título mundial. O clube chegou a estampar uma estrela em seu escudo em referência à vitória no torneio.
                  <a href="https://www.cnnbrasil.com.br/esportes/o-palmeiras-nao-tem-mundial-como-diz-alexandre-de-moraes-marco-antonio-villa-responde/#:~:text=O%20ministro%20do%20Alexandre%20de,sess%C3%A3o%20do%20Supremo%20Tribunal%20Federal.">leia mais...</a>
              </p>
            <br>
            <h3>IoT </h3>
            <p>
                <b>Internet Industrial das Coisas (IIoT)</b>
                A Internet Industrial das Coisas (IIoT) é conhecida como uma evolução das informações da cadeia produtiva. O conceito é basicamente o mesmo da IoT, porém com o detalhe de que suas informações são conectadas via cloud computing.
                
                Ademais, além de conectar coisas IIoT, forma uma camada crítica do processo produtivo, podendo ser utilizada para gerenciar ativos, analisar tendências, contactar diretamente um fornecedor, analisar a qualidade e o uso dos produtos.
                
                Enfim, é um sistema muito mais completo e especializado para atender às peculiaridades de uma indústria.
            </p>
          </li>
          </ul>
      </section>
    </div>
  </body>
</html>
