h1 {
  font-size: 35px;
  background-image: linear-gradient(#1f1f1e, #dddddd);
  font-weight: 600;
  font-family: Fira Code, "Geneva", Tahoma, sans-serif;
  text-align: center;
}

p {
  font-weight: 600;
  font-size: x-large;
  font-family: Fira Code, "Geneva", Tahoma, sans-serif;
  text-align: center;
  color: rgb(55, 163, 4);
}
#resultado {
  color: rgb(199, 116, 9);
}
